# Ignorar archivo de configuración local
config.ini

# Folders
.vscode/
Examples/

# Ignorar todos los archivos de registro
*.log

# Ignorar el ejecutable
*exe*

# Ignora funcion para imprimir
binary_tree_print.c